@model MySchoolManagement.Models.Examresult

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Examresult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkInBangla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkInBangla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkInEnglish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkInEnglish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkInMath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkInMath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExamresultID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
